[Unit]
Description=pip-mirror private PyPI server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
DynamicUser=yes
StateDirectory=pip-mirror
WorkingDirectory=/var/lib/pip-mirror
ExecStart=/usr/local/bin/pip-mirror serve -c /etc/pip-mirror/pip-mirror.toml
Restart=always
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
